<!DOCTYPE html>
<html lang="en-us">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link rel="stylesheet" href="style.css" type="text/css" />
	<title>Gizmodo Scrapper</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="app.js"></script>
</head>
<nav>
	<div class="nav-wrapper blue">
		<a href="/" class="brand-logo">Gizmodo Scraper</a>
		<ul class="right hide-on-med-and-down">
			<li><a class="waves-effect waves-light btn green" href="/scrape">Scrape Articles</a></li>
			<li><a class="waves-effect waves-light btn red" href="/delete">Clear Articles</a></li>
		</ul>
	</div>
</nav>

<body>
	{{{ body }}}
</body>
<footer class="page-footer grey darken-1">
	<div class="footer-copyright">
		<div class="container">
			© 2018 Gizmodo Scraper
		</div>
	</div>
</footer>
</html>