<div id="wrapper">
  <h4>Articles</h4>
  <div id="instructions">
    Press the scrape articles button to scrape Gizmodo for their latest news! It may take a few seconds, but the page will render when it is complete.
  </div>
  <div id="articles"></div>
</div>