/* Custom CSS */

#wrapper {
    width: 1060px;
    margin: 0 auto;
}

#articles {
    height: 700px;
}

#saved {
    width: 70%;
    display: inline-block;
    height: 700px;
}

#notes {
    float: right;
    width: 30%;
}

textarea,
input {
    display: block;
    width: 100%;
}

input {
    height: 36px;
    font-size: 24px;
}

textarea {
    height: 200px;
    font-size: 18px;
}

.card-panel {
    margin-right: 10px;
}

.card-panel:hover,
#notes:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22);
    box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22);
    -webkit-transition: .1s;
    -o-transition: .1s;
    transition: .1s;
}

.brand-logo {
    padding-left: 20px !important;
}

#instructions {
    padding: 15px 0;
}

#notes {
    background-color: #f5f5f5;
    padding: 15px;
    margin: .5rem 0 1rem 0;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

#bodyinput {
    margin-bottom: 10px;
}