/* Custom CSS */
#wrapper {
     width: 1060px;
     margin: 0 auto;
}
 #articles {
     display: inline-block;
     overflow: auto;
     width: 60%;
     height: 700px;
}
 #notes {
     float: right;
     width: 30%;
}
 textarea, input {
     display: block;
     width: 100%;
     background-color: #FCF5C7;
}
 input {
     height: 36px;
     font-size: 24px;
}
 textarea {
     height: 200px;
     font-size: 18px;
}
.card-panel {
    margin-right: 10px;
}
.brand-logo {
    padding-left: 20px !important;
}